USE [master]
GO
/****** Objeto: Database [Pizzeria] Fecha de script: 21/sep./2026 16:29:51 ******/
CREATE DATABASE [Pizzeria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pizzeria', FILENAME = N'C:\Users\mis34\Pizzeria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pizzeria_log', FILENAME = N'C:\Users\mis34\Pizzeria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pizzeria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pizzeria]
GO
/****** Objeto: User [misael] Fecha de script: 21/sep./2026 16:29:52 ******/
CREATE USER [misael] FOR LOGIN [misael] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [misael]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Direccion] [varchar](300) NULL,
	[FechaRegistro] [datetime] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetallePedido] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdTamaño] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetallePedidoIngredientes] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedidoIngredientes](
	[IdDetalle] [int] NOT NULL,
	[IdIngrediente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC,
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadosPedido] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPedido](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [PK_EstadosPedido] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadosPedido_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ingredientes] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[IdIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[PrecioExtra] [decimal](10, 2) NULL,
	[StockActual] [decimal](10, 2) NOT NULL,
	[StockMinimo] [decimal](10, 2) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MetodosPago] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[IdMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pedidos] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[TipoEntrega] [varchar](20) NOT NULL,
	[Total] [decimal](10, 2) NULL,
	[IdMetodoPago] [int] NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ProductoIngredientes] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoIngredientes](
	[IdProducto] [int] NOT NULL,
	[IdIngrediente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Imagen] [varchar](255) NULL,
	[Disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ProductoTamaños] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoTamaños](
	[IdProductoTamaño] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdTamaño] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProductoTamaño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Recetas] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[IdReceta] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdIngrediente] [int] NOT NULL,
	[CantidadRequerida] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Recetas] PRIMARY KEY CLUSTERED 
(
	[IdReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tamaños] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tamaños](
	[IdTamaño] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTamaño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ingredientes] ADD  DEFAULT ((0)) FOR [PrecioExtra]
GO
ALTER TABLE [dbo].[Ingredientes] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Ingredientes] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Ingredientes] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [DF_Pedidos_IdEstado]  DEFAULT ((1)) FOR [IdEstado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdTamaño])
REFERENCES [dbo].[Tamaños] ([IdTamaño])
GO
ALTER TABLE [dbo].[DetallePedidoIngredientes]  WITH CHECK ADD FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[DetallePedido] ([IdDetalle])
GO
ALTER TABLE [dbo].[DetallePedidoIngredientes]  WITH CHECK ADD FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingredientes] ([IdIngrediente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdMetodoPago])
REFERENCES [dbo].[MetodosPago] ([IdMetodoPago])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_EstadosPedido] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosPedido] ([IdEstado])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_EstadosPedido]
GO
ALTER TABLE [dbo].[ProductoIngredientes]  WITH CHECK ADD FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingredientes] ([IdIngrediente])
GO
ALTER TABLE [dbo].[ProductoIngredientes]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[ProductoTamaños]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[ProductoTamaños]  WITH CHECK ADD FOREIGN KEY([IdTamaño])
REFERENCES [dbo].[Tamaños] ([IdTamaño])
GO
ALTER TABLE [dbo].[Recetas]  WITH CHECK ADD  CONSTRAINT [FK_Recetas_Ingredientes] FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingredientes] ([IdIngrediente])
GO
ALTER TABLE [dbo].[Recetas] CHECK CONSTRAINT [FK_Recetas_Ingredientes]
GO
ALTER TABLE [dbo].[Recetas]  WITH CHECK ADD  CONSTRAINT [FK_Recetas_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Recetas] CHECK CONSTRAINT [FK_Recetas_Productos]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CambiarEstadoPedido] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstadoPedido]
    @IdPedido INT,
    @IdEstado INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Validar que el pedido exista
        IF NOT EXISTS (SELECT 1 FROM dbo.Pedidos WHERE IdPedido = @IdPedido)
        BEGIN
            RAISERROR('El pedido con ID %d no existe.', 16, 1, @IdPedido);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Validar que el estado exista
        IF NOT EXISTS (SELECT 1 FROM dbo.EstadosPedido WHERE IdEstado = @IdEstado)
        BEGIN
            RAISERROR('El estado con ID %d no existe en el catálogo.', 16, 1, @IdEstado);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 3. Actualizar el estado en la tabla Pedidos
        UPDATE dbo.Pedidos
        SET IdEstado = @IdEstado
        WHERE IdPedido = @IdPedido;

        COMMIT TRANSACTION;
        
        -- Retornar mensaje de éxito (opcional para el backend en C#)
        SELECT @IdPedido AS IdPedido, @IdEstado AS NuevoEstadoId, 'Estado actualizado correctamente' AS Mensaje;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Devolver el error capturado
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Categoria_Actualizar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Categoria_Actualizar]
(
    @IdCategoria INT,
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(255)
)
AS
BEGIN
    UPDATE Categorias
    SET
        Nombre = @Nombre,
        Descripcion = @Descripcion
    WHERE IdCategoria = @IdCategoria;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Categoria_Eliminar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Categoria_Eliminar]
(
    @IdCategoria INT
)
AS
BEGIN
    DELETE FROM Categorias
    WHERE IdCategoria = @IdCategoria;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Categoria_Insertar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Categoria_Insertar]
(
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(255)
)
AS
BEGIN
    INSERT INTO Categorias
    (
        Nombre,
        Descripcion
    )
    VALUES
    (
        @Nombre,
        @Descripcion
    );
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Categoria_Listar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Categoria_Listar]
AS
BEGIN
    SELECT *
    FROM Categorias;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Categoria_Obtener] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Categoria_Obtener]
(
    @IdCategoria INT
)
AS
BEGIN
    SELECT *
    FROM Categorias
    WHERE IdCategoria = @IdCategoria;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Cliente_Actualizar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_Actualizar]
(
    @IdCliente INT,
    @Nombre VARCHAR(150),
    @Telefono VARCHAR(15),
    @Direccion VARCHAR(300)
)
AS
BEGIN
    UPDATE Clientes
    SET
        Nombre = @Nombre,
        Telefono = @Telefono,
        Direccion = @Direccion
    WHERE IdCliente = @IdCliente;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Cliente_BuscarTelefono] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_BuscarTelefono]
(
    @Telefono VARCHAR(15)
)
AS
BEGIN
    SELECT *
    FROM Clientes
    WHERE Telefono = @Telefono;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Cliente_Eliminar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_Eliminar]
(
    @pIdCliente INT
)
AS
BEGIN
    UPDATE Clientes
    SET Activo = 0
    WHERE IdCliente = @pIdCliente;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Cliente_Insertar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_Insertar]
(
    @Nombre VARCHAR(150),
    @Telefono VARCHAR(15),
    @Direccion VARCHAR(300)
)
AS
BEGIN
    INSERT INTO Clientes
    (
        Nombre,
        Telefono,
        Direccion
    )
    VALUES
    (
        @Nombre,
        @Telefono,
        @Direccion
    );
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Cliente_Listar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cliente_Listar]
AS
BEGIN
    SELECT *
    FROM Clientes
    ORDER BY Nombre;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Pedido_ConfirmarYDescontarStock] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP: Registrar Pedido con validación de Stock y descuente en lote
CREATE   PROCEDURE [dbo].[sp_Pedido_ConfirmarYDescontarStock]
    @IdPedido INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Descontar inventario según la receta de cada producto en el detalle (RF-FUN-17)
        UPDATE I
        SET I.StockActual = I.StockActual - (R.CantidadRequerida * DP.Cantidad)
        FROM dbo.Ingredientes I
        INNER JOIN dbo.Recetas R ON I.IdIngrediente = R.IdIngrediente
        INNER JOIN dbo.DetallePedido DP ON R.IdProducto = DP.IdProducto
        WHERE DP.IdPedido = @IdPedido;

        -- Actualizar estado a 2 (En preparación)
        UPDATE dbo.Pedidos
        SET IdEstado = 2
        WHERE IdPedido = @IdPedido;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_Producto_Insertar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Producto_Insertar]
(
    @IdCategoria INT,
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(250),
    @Imagen VARCHAR(255)
)
AS
BEGIN
    INSERT INTO Productos
    (
        IdCategoria,
        Nombre,
        Descripcion,
        Imagen
    )
    VALUES
    (
        @IdCategoria,
        @Nombre,
        @Descripcion,
        @Imagen
    );
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_Producto_Listar] Fecha de script: 21/sep./2026 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Producto_Listar]
AS
BEGIN
    SELECT
        P.IdProducto,
        P.Nombre,
        P.Descripcion,
        C.Nombre Categoria
    FROM Productos P
    INNER JOIN Categorias C
        ON P.IdCategoria = C.IdCategoria;
END
GO
USE [master]
GO
